@variables {
  sheetColor: rgb(0,128,0)
}

#header h1 {
	//color: var(sheetColor);
	color: rgb(0,128,0);
}	

body {
	//color: var(sheetColor);
	color: rgb(0,128,0);
	background: #E1EEFD url(../../images/bg_body_green.png) repeat-x;
}