@variables {
  sheetColor: rgb(255,255,0)
}

#header h1 {
	//color: var(sheetColor);
	color: rgb(255,255,0);
}	

body {
	//color: var(sheetColor);
	color: rgb(255,255,0);
	background: #E1EEFD url(../../images/bg_body_yellow.png) repeat-x;

}